body{
    margin: 0px;
}
.stan1{
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
}
.mm{
    display: flex;
}
.stan1{
     display: flex;
     margin-left: 2cm;
}
.stan1 a{
    margin-left: 1cm;
    text-decoration: none;
}
.stan img {
    width:1600px;
    height: 400px;
}
.stan4{
    margin: 0px;
    padding-left: 20px;
    font-size: 35px;
}
.stan3 img{
    margin-left: 100px; 
}
.stan25{
    padding-left: 20px;
}
.stan4 p{
    color: rgb(42, 125, 173);
}
.stan5 ol{
    color: rgb(127, 197, 255);
    padding-left: 70px; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.st2{
    display: flex;
}
.stan3 p{
    margin-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.stan2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.stan2{
    width: 200px;
}
.stan3{
    width: 200px;
    margin-left: 200px;
}
.stan35{
    margin-left: 360px;
}
.stan35 img{
    height: 250px;
}
.stan p{
    border: solid black;
    height: 50px;
    width: 200px;
    margin-left: 20px;
    align-items: center;
    background-color: aqua;
    border-radius: 80px;
    padding-top: 10px;
}
.stan h5{
    font-size: 20px;
}
/*footer*/
.element{
    width: 1400px;
    height: 200px;
    background: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.element1{
    border-right:solid white;
    width: 250px;
    height: 150px;
}
.element2{
    border-right:solid white;
    width: 250px;
    height: 150px;
}
.element3{
    border-right:solid white;
    width: 250px;
    height: 150px;
}
.element3 p{
    font-size: 12px;
}
.element4{
    width: 250px;
    height: 150px;
    padding-top: 40px;
}
.element4 picture i{
    width: 50px;
    font-size:25px;
}
.element5 {
    margin-bottom: 250px;
    background-color: blue;
    display: flex;
    padding-left: 450px;
}


